<div>
    <h3 class="inline">Greetings, {{username}} </h3>  <a href="/"><h4 class="inline homeRoute">Home</h4></a>
    <form action="/waiters/{{username}}" method="POST">
        <table id="weekdays">

            <tr>
                {{#each weekdays}}
                <th>{{day_name}}</th>
                {{/each}}
            </tr>
            <tr>
                {{#each weekdays}}
                <td>
                    <input type="checkbox" name="day_name" id="" value="{{day_name}}">
                </td>
                {{/each}}
            </tr>
        </table>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effec addShift" style="background-color:#1AB365; color:white" type="submit">Add shifts</button>

        {{#if messages.info}}
                <div class="{{flashStyle}}">
                    <h5>{{messages.info}}</h5>
                </div>
            {{/if}}

    </form>
</div>